*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.alert-info {
    display: none !important;
}

.breadcrumb{
    display: none !important;
}
.row-fluid [class*="span"]:first-child {
    width:100%;
}
#student_photo{
    width:200px;
}
#btn_photo_upl{
    display: none !important;
}